/* @import "tailwindcss";

@theme {
    --color-primary: #54EEFF;
    --color-dark: #222831;
    --color-semilight: #cfcfcf;
}

<!-- <style type="text/tailwindcss">
      @theme {
        --color-primary: #54EEFF;
        --color-dark: #222831;
        --color-semilight: #cfcfcf;
      }
    </style> --> */